*,
*::before,
*::after{
    box-sizing: border-box;
}

body{
    background-color: #fff;
    margin: 0;
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
}


/*          CONTAINER
------------------------------- */

.container{
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}


/*          HEADER
----------------------------- */

.header{
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;

    width: 100%;
}

.header.fixed{
    position: fixed;
    background-color: #30344e;
    transition: background-color linear 1s;
    opacity: .8;
    

}

.header.fixed .header__inner{
    border: none;
}

.header__inner{
    padding: 35px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #505369;
}

.nav__link{
    margin-left: 50px;
    text-transform: uppercase;
    text-decoration: none;

    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 13px;
    color: #e6e6ea;
    opacity: 0.7;
}

.nav__link:hover{
    opacity: 1;
    transition: opacity linear .3s;
}

.nav__link:first-child{
    margin-left: 0;
}


/*          INTRO
---------------------------- */

.intro{
    height: 750px;

    background: #30344e url("img/intro-bg.jpg")
    center no-repeat;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.intro__inner{
    padding-top: 100px;
    max-width: 970px;
    margin: 0 auto;

    text-align: center;
}

.intro__title{
    font-size: 65px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    color: #fff;

    text-transform: uppercase;
    line-height: 1.1;
    margin-bottom: 40px;
}

.intro__subtitle{
    font-size: 22px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    color: #d5d6db;
    margin-bottom: 80px;
}

.btn{
    font-size: 13px;
    font-weight: 600;
    color: rgb(255, 237, 237);

    text-transform: uppercase;
    text-decoration: none;
    border-radius: 2px;
    padding: 15px 50px;
    background-color: #e84545;
}

.btn:hover{
    background-color: #ae2e2e;
    transition: background-color linear .3s;
}


/*          FEATURES
---------------------------- */

.features{
    margin: 80px 0;
}

.features__inner{
    display: flex;
    flex-wrap: wrap;
}

.features__item{
    width: 33.33333%;
    text-align: center;
    margin: 35px 0;
    padding: 0 40px;
}

.features__img{
    margin-bottom: 30px;
}

.features__title{
    margin-bottom: 25px;
    text-transform: uppercase;

    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #2d3033;
}

.features__text{
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #80858b;
}


/*          WORKS
---------------------------- */


.works{
    display: flex;
    flex-wrap: wrap;
}

.works__item{
    width: 25%;
    overflow: hidden;
    position: relative;
    height: 350px;
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
}

.works__photo{
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    transform: translate3d(-50%, -50%, 0);
}

.works__content{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;

    width: 100%;
    height: 100%;

    background: #e95656;

    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    opacity: 0;
}

.works__content:hover{
    opacity: 0.9;
    transition: opacity linear .5s;
}



.works__title{
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: #fff;

    text-transform: uppercase;

    margin-bottom: 8px;
}

.works__text{
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    color: #fff;
}


/*          TEAM
---------------------------- */

.team{
    margin: 100px 0 65px;
}

.team__inner{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.team__item{
    width: 25%;
    padding: 0 15px;
    margin-bottom: 35px;
}

.team__photo{
    width: 100%;
    margin-bottom: 25px;
}

.team__name{
    font-size: 22px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    color: #57595c;

    margin-bottom: 10px;
}

.team__prof{
    font-size: 13px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    color: #e84545;

    text-transform: uppercase;
    margin-bottom: 25px;
}

.team__text{
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #80858b;
    margin-bottom: 35px;
}

.team__social{
    display: flex;
}

.social__item{
    width: 40px;
    height: 40px;
    border: 1px solid #e8ecee;
    border-radius: 2px;

    display: flex;
    align-items: center;

    margin-left: 3px;
}

.social__item:hover{
    background-color: #d7e0e5;
    cursor: pointer;
    transition: background-color linear .4s;
}

.social__icon{
    fill: #c6cacc;
    height: 22px;
}

.social__item:hover .social__icon{
    fill: #1c4a61;
    transition: fill linear .4s;
    height: 26px;
    transition: height linear .4s;
}


/*          REVIEWS
---------------------------- */

.reviews{
    background: #53354a;
}

.reviews__item{
    display: flex;

    height: 500px;
}

.reviews__photo{
    width: 50%;
    position: relative;
}

.reviews__img{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;

}

.reviews__content{
    width: 50%;
}

.reviews__text{
    font-size: 36px;
    font-family: 'Cardo', serif;
    font-style: italic;
    color: rgb(240, 232, 232);

    margin: 100px 0 35px 80px;
}

.reviews__autor{
    font-size: 13px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: white;

    margin-left: 80px;
    text-transform: uppercase;
}


/*          DOWNLOAD
----------------------------- */

.download__inner{
    text-align: center;
    margin: 100px 0;
}

.download__title{
    font-size: 28px;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    color: #737577;

    margin-bottom: 15px;
}

.download__subtitle{
    font-size: 13px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: #494c4e;
    text-transform: uppercase;

    margin-bottom: 50px;
}

.download__btn{
    padding: 15px 70px;
}


/*          FOOTER
----------------------------- */

.footer{
    background-color: #3a3e64;
}

.footer__inner{
    display: flex;
}

.footer__social{
    display: flex;
    justify-content: center;
}

.footer__item{
    width: 33.33333%;
    padding: 80px 0;
    text-align: center;
}

.footer__title{
    margin-bottom: 15px;
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: white;

    text-transform: uppercase;
}

.footer__text{
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    color: #9d9fb2;
    line-height: 1.5;
}

.footer__social{
    display: flex;
}

.footer__copyright{
    padding: 25px 0;
    background-color: #313454;
    text-align: center;
}

.copyright__text{
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    color: #727488;
    line-height: 1.5;
}

.love{
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    color: #bb2828;
}

.name{
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    color: rgb(192, 192, 192);
}

/*          burger
----------------------------- */

.burger{
    padding: 5px;
    display: none;
}

.menu__item{
    width: 40px;
    height: 4px;
    background-color: rgb(255, 255, 255);
    opacity: 0.8;

    margin: 6px 0;
}

.burger:hover .menu__item{
    opacity: 1;
    transition: opacity linear .3s;
}

/*          MEDIA
---------------------------- */

@media (max-width: 1024px) {

    /* works */

    .works__item{
        width: 50%;
    }

    .header.fixed{
        height: 70px;
    }

    .header.fixed .header__inner{
        padding: 12px 0;
    }
}

@media (max-width: 900px) {

    /* header */

    .header__inner{
        padding: 27px 0;
    }

    .nav{
        position: absolute;
        top: 100%;
        right: 0;
        display: flex;
        flex-direction: column;
        width: auto;
        text-align: right;

        display: none;
    }

    .nav.show{
        display: flex;
        background-color: #30344e;
    }

    .nav__link{
        padding: 9px 15px;
        margin-left: 0;
    }

    .burger{
        display: block;
        background-color: #30344e;
    }

    /* intro */

    .intro{
        height: 600px;
    }

    .intro__title{
        font-size: 50px;
    }

    /* features */

    .features{
        margin: 50px 0;
    }

    .features__item{
        margin: 25px 0;
        padding: 0 30px;
    }

    /* team */

    .team__item{
        width: 50%;
    }

    /* reviews */

    .reviews__item{
        flex-direction: column;
        height: auto;
        overflow: hidden;
    }

    .reviews__photo, .reviews__content{
        position: static;
        width: 100%;
        height: auto;
    }
    
    .reviews__img{
        position: static;
        width: 100%;
        padding-top: 18px;
    }
    
    .reviews__text{
        margin: 0 0 30px;
    }

    .reviews__autor{
        margin: 0;
    }

    .reviews__content{
        padding: 40px;
        overflow: hidden;
    }
}

@media (max-width: 700px) {

    /* intro */

    .intro{
        height: 500px;
    }

    .intro__title{
        font-size: 40px;
        margin-bottom: 20px;
    }

    .intro__subtitle{
        font-size: 18px;
        margin-bottom: 50px;
    }

    .team{
        margin: 70px 0 45px;
    }

    .reviews__text{
        font-size: 24px;
    }

    .download__inner{
        margin: 50px 0;
    } 

    .download__title{
        font-size: 20px;
    }

    /* features */

    .features{
        margin: 40px 0;
    }

    .features__item{
        width: 50%;
        margin: 20px 0;
        padding: 0 25px;
    }
}

@media (max-width: 600px) {

    /* intro */

    .intro{
        height: 400px;
    }

    .intro__title{
        font-size: 30px;
    }

    .intro__subtitle{
        font-size: 16px;
    }
    
    /* features */

    .features{
        margin: 30px 0;
    }

    .features__item{
        width: 50%;
        margin: 20px 0;
        padding: 0 25px;
    }

    /* footer */

    .footer__inner{
        flex-wrap: wrap;
    }

    .footer__item{
        width: 100%;
        padding: 20px 0;
        text-align: center;
    }
}

@media (max-width: 500px) {

    /* intro */

    .intro{
        height: 400px;
    }

    .intro__title{
        font-size: 24px;
    }
    
    /* features, works, team */

    .features__item, .works__item,
    .team__item{
        width: 100%;
    }
}